/*
 * @Author: Nokey 
 * @Date: 2017-12-23 18:15:33 
 * @Last Modified by: Nokey
 * @Last Modified time: 2018-01-03 00:13:22
 */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
html {
  width: 100%;
  font-size: 62.5%;
  background-color: #fff;
}
body {
  font-size: 1.4rem;
  font-family: Helvetica, sans-serif;
  background-color: #fff;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
hr {
  border: 0;
  width: 100%;
  border-top: 1px solid #cbcbcb;
}
em {
  font-style: normal;
}
input,
textarea {
  font-family: Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  outline: none;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}
i {
  font-style: normal;
}
img {
  outline: none;
  border: 0 !important;
}
::selection {
  background: #b5a25d;
  color: #fff;
}
::-moz-selection {
  background: #b5a25d;
  color: #fff;
}
::-ms-clear {
  display: none;
}
::-ms-reveal {
  display: none;
}
.link {
  cursor: pointer;
}
@font-face {
  font-family: 'Krungthep';
  src: url("fonts/Krungthep.eot");
  src: url("fonts/Krungthep.eot?#iefix") format('embedded-opentype'), url("fonts/Krungthep.woff2") format('woff2'), url("fonts/Krungthep.woff") format('woff'), url("fonts/Krungthep.ttf") format('truetype'), url("fonts/Krungthep.svg#Krungthep") format('svg');
  font-weight: normal;
  font-style: normal;
}
.T__header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 25px;
}
.T__header .flex-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.T__header .top-title {
  margin-left: 5%;
  font-family: 'Krungthep';
  font-size: 3.2rem;
  padding: 0.5em 0.8em;
  background-color: #f38d59;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  text-align: center;
}
.T__header .top-desc {
  position: absolute;
  right: 40px;
  bottom: 30px;
  width: 15%;
}
.T__section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 1em;
}
.T__section .T__wrap {
  position: relative;
  margin: 50px 0;
}
.T__section .T__wrap .T__wrap-bg {
  width: 100%;
}
h1 {
  font-size: 4.2rem;
  line-height: 1.2em;
  color: #f17e44;
  text-align: center;
  margin: 25px 0;
  font-family: 'Krungthep';
}
h1.blue {
  color: #97beed;
}
h2 {
  font-size: 2.2rem;
  line-height: 1.2em;
  color: #8d8d8d;
  margin: 50px 0 25px;
  font-family: 'Krungthep';
}
h2.orange {
  color: #ff8b31;
}
h3 {
  font-size: 1.8rem;
  line-height: 1.2em;
  color: #8d8d8d;
  margin: 12px 0;
  font-family: 'Helvetive';
}
h4 {
  font-size: 1.6rem;
  line-height: 1.2em;
  color: #8d8d8d;
  margin-bottom: 1em;
}
p {
  font-size: 1.6rem;
  line-height: 1.4em;
  color: #8d8d8d;
  font-family: 'Helvetive';
  text-align: justify;
}
em {
  font-weight: bold;
}
.work-1 p,
.work-1 h3 {
  color: #3e3e3e;
}
.work-1 h3 {
  margin-top: 2em;
}
.work-1 header {
  background-image: url("../images/work1/top-bg.jpg");
}
.work-1 header .top-mobile {
  height: 60%;
}
.work-1 header .top-title {
  background-color: #97beed;
}
.work-1 .layout-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-1 .layout-1 img {
  width: 100%;
}
.work-1 .layout-1 p {
  text-align: justify;
  margin-top: 10px;
}
.work-1 .layout-1 div:nth-child(1) {
  width: 26.5%;
}
.work-1 .layout-1 div:nth-child(2) {
  width: 31%;
}
.work-1 .layout-1 div:nth-child(3) {
  width: 39%;
}
.work-1 .layout-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.work-1 .layout-2 p {
  width: 50%;
  text-align: justify;
}
.work-1 .layout-2 img {
  width: 45%;
}
.work-1 .layout-3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-1 .layout-3 img {
  width: 30%;
}
.work-1 .layout-3 p {
  width: 65%;
  text-align: justify;
}
.work-1 .layout-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-1 .layout-4 img {
  width: 52%;
}
.work-1 .layout-4 p {
  width: 45%;
  text-align: justify;
}
.work-1 .layout-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-1 .layout-5 img {
  width: 40%;
}
.work-1 .layout-5 p {
  width: 57%;
  text-align: justify;
}
.work-1 .layout-6 {
  color: #8d8d8d;
  font-size: 1.2rem;
}
.work-1 .layout-6 em {
  font-weight: bold;
  color: #3e3e3e;
}
.work-1 .layout-7 {
  margin: 2em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-1 .layout-7 img {
  width: 5%;
}
.work-1 .layout-7 p {
  width: 90%;
}
.work-1 .blue-txt {
  font-size: 3.6rem;
  color: #98bfee;
  line-height: 2em;
  text-align: center;
}
.work-1 .list-1 {
  max-width: 800px;
  margin: 0 auto;
}
.work-1 .layout-8 {
  margin: 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-1 .layout-8 img {
  height: 25px;
}
.work-1 .layout-8 p {
  width: 95%;
  font-size: 1.4rem;
}
.work-4 header {
  background-image: url("../images/work4/bg.jpg");
}
.work-4 h1 {
  font-size: 4.2rem;
  margin: 8px 0;
  color: #6d6d6d;
}
.work-4 .subtitle {
  font-size: 2rem;
  color: #ffbc00;
  text-align: center;
  font-family: 'Krungthep';
  margin-bottom: 40px;
}
.work-4 h2 {
  color: #6b6b6a;
}
.work-4 h3 {
  font-weight: bold;
  color: #ffbc00;
}
.work-4 .layout-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-4 .layout-1 img {
  width: 16%;
}
.work-4 .layout-1 p {
  width: 80%;
}
.work-4 .layout-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-4 .layout-2 > div {
  width: 48%;
}
.work-4 .layout-2 img {
  width: 100%;
  margin-top: 18px;
}
.work-4 .layout-3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-4 .layout-3 img {
  width: 20%;
}
.work-4 .layout-3 p {
  width: 77%;
}
.work-4 .layout-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 50px;
}
.work-4 .layout-4 p:nth-child(1) {
  width: 40%;
  padding-right: 6%;
}
.work-4 .layout-4 p:nth-child(2) {
  width: 30%;
  padding-right: 4%;
}
.work-4 .layout-4 p:nth-child(3) {
  width: 30%;
  padding-left: 4%;
}
.work-4 .layout-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-4 .layout-5 img {
  width: 22%;
}
.work-4 .layout-5 p {
  width: 75%;
}
.work-4 .layout-6 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-4 .layout-6 > * {
  width: 23%;
}
.work-4 .layout-6 p {
  text-align: left;
}
.work-4 .layout-7 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-4 .layout-7 > div {
  width: 45%;
}
.work-2 header {
  background-image: url("../images/work2/bg-2.jpg");
}
.work-2 header .top-mobile {
  height: 60%;
}
.work-2 header .top-title {
  background-color: #ffbc00;
}
.work-2 h1 {
  color: #6d6d6d;
}
.work-2 h2,
.work-2 h3 {
  color: #ffbc00;
}
.work-2 h3.orange {
  color: #f49a7a;
}
.work-2 .layout-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 25px;
}
.work-2 .layout-1 img {
  width: 60%;
}
.work-2 .layout-1 p {
  width: 38%;
}
.work-2 .layout-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-2 .layout-2 p {
  width: 74%;
}
.work-2 .layout-2 img {
  width: 22%;
}
.work-2 .layout-3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-2 .layout-3 > div {
  width: 48%;
}
.work-2 .layout-3 .title-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-2 .layout-3 .title-wrap img {
  width: 25px;
  margin-right: 20px;
}
.work-2 .layout-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-2 .layout-4 > img {
  width: 48%;
}
.work-2 .layout-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-2 .layout-5 > div {
  width: 48%;
}
.work-2 .layout-5 img {
  max-width: 100%;
}
.work-2 .layout-6 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-2 .layout-6 > * {
  width: 50%;
}
.work-2 .layout-7 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-2 .layout-7 p {
  width: 55%;
}
.work-2 .layout-7 img {
  width: 44%;
}
.work-2 .wrap1 {
  margin: 25px 0;
  padding-left: 45px;
}
.work-2 .layout-8 {
  margin: 25px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-2 .layout-8 img {
  width: 25px;
  margin-right: 20px;
}
.work-3 header {
  background-image: url("../images/work3/fengmian.jpg");
}
.work-3 header .top-title {
  background-color: #fff;
}
.work-3 h1 {
  color: #11bfde;
}
.work-3 h3,
.work-3 p {
  color: #9b9b9b;
}
.work-3 .layout-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.work-3 .layout-1 > * {
  width: 46%;
}
.work-3 .layout-1 > div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.work-3 .layout-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-3 .layout-2 > div {
  width: 30%;
}
.work-3 .layout-2 > div img {
  display: block;
  width: 70%;
  margin: 20px auto 30px;
}
.work-3 .layout-2 .title {
  font-weight: bold;
  text-align: center;
}
.work-3 .layout-3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.work-3 .layout-3 div:nth-child(1) {
  width: 52%;
}
.work-3 .layout-3 div:nth-child(2) {
  width: 42%;
}
.work-3 .layout-3 img {
  display: block;
  margin: 20px auto;
  height: 150px;
}
.work-3 .layout-3 em {
  font-weight: bold;
}
.work-3 .layout-4 {
  background-color: #feaa00;
  padding: 40px;
}
.work-3 .layout-4 .inner-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-3 .layout-4 .inner-box > div {
  width: 48%;
}
.work-3 .layout-4 .inner-box p {
  color: #fff;
}
.work-3 .layout-4 .inner-box img {
  width: 100%;
}
.work-3 .layout-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-3 .layout-5 > p {
  width: 30%;
  color: #4a4a4a;
}
.work-6 header {
  background-image: url("../images/work6/fengmian.jpg");
}
.work-6 header .top-title {
  background-color: rgba(0,0,0,0.8);
}
.work-6 h1 {
  color: #4a4a4a;
}
.work-6 h2,
.work-6 h3,
.work-6 p {
  color: #9b9b9b;
}
.work-6 h2.subtitle {
  margin: 0;
  text-align: center;
}
.work-6 .layout-1 {
  margin-top: 20px;
}
.work-5 header {
  background-image: url("../images/work5/top-bg.jpg");
}
.work-5 header .top-mobile {
  height: 80%;
}
.work-5 .txt1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
}
.work-5 .txt1 p {
  color: #fff;
}
.work-5 .img-p-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-5 .img-p-wrap img {
  width: 42%;
}
.work-5 .img-p-wrap p {
  width: 45%;
}
.work-5 .layout-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-5 .layout-1 img {
  width: 55%;
}
.work-5 .layout-1 .t-p {
  width: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-5 .layout-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.work-5 .layout-2 img {
  width: 60%;
}
.work-5 .layout-2 .t-p {
  width: 35%;
}
.work-5 .layout-2 .t-p > * {
  width: 100%;
}
.work-5 .layout-3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-5 .layout-3 > div {
  width: 31%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.work-5 .layout-3 > div h3 {
  height: 2.2em;
}
.work-5 .layout-3 > div > * {
  width: 100%;
}
.work-5 .layout-3 > div .metas-col-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.work-5 .layout-3 > div .metas-col-5 > p {
  width: 20%;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1em;
}
.work-5 .layout-3 > div .metas-col-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.work-5 .layout-3 > div .metas-col-4 > p {
  width: 25%;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1em;
}
.work-5 .list > li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 3em 0;
}
.work-5 .list > li:before {
  content: '';
  display: block;
  background-color: #e67c38;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}
.work-5 .layout-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.work-5 .layout-4 > div {
  width: 31.5%;
  text-align: center;
}
.work-5 .layout-4 > div img {
  height: 25%;
}
.work-5 .layout-4 > div p {
  text-align: justify;
}
.work-5 .col-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.work-5 .col-2 > h3 {
  width: 50%;
}
