/*
 * @Author: Mr.B 
 * @Date: 2017-12-07 17:53:29 
 * @Last Modified by: Nokey
 * @Last Modified time: 2017-12-23 16:50:14
 */

@import 'nib'
@import 'custom/reset'

x-reset()

@font-face{
    font-family: 'Roboto';
	src: url('fonts/Roboto-Thin.eot');
	src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Thin.woff2') format('woff2'),
		url('fonts/Roboto-Thin.woff') format('woff'),
		url('fonts/Roboto-Thin.ttf') format('truetype'),
		url('fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Cabin';
    src: url('fonts/Cabin-Regular.eot');
    src: url('fonts/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cabin-Regular.woff2') format('woff2'),
        url('fonts/Cabin-Regular.woff') format('woff'),
        url('fonts/Cabin-Regular.ttf') format('truetype'),
        url('fonts/Cabin-Regular.svg#Cabin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
	

abs-center(w, h)
    position absolute
    left 50%
    top 50%
    width w
    height h
    margin-left -1 * (w / 2)
    margin-top -1 * (h / 2)

html, body
    min-height 100%

/* profile-bg */
.profile-bg
    position fixed
    left 0
    top 0
    height 100%
    width 40%
    background-color #fff
    background-image: url(../images/profile_bg.jpg)
    background-position: top
    background-size: cover
    z-index 1

/* nav */
.nav-btn
    position fixed
    top 20px
    right 34px
    width 36px
    height 36px
    background-image: url(../images/nav_btn-1.png)
    background-position: center
    background-size: 100% 100%
    cursor pointer
    z-index 12

.nav-menu
    position fixed
    top 0
    right 0
    transform: translateX(100%)
    height 100%
    width 60%
    color #535353
    background-color: #000
    transition: all .3s
    font-size: 3.6rem
    font-family: 'Cabin'
    text-align: center
    padding-top 15%
    z-index 10

    li
        margin-bottom 1em
        cursor pointer

        &:hover
            color #fff
            font-weight: bold

.nav-open
    .nav-btn
        background-image: url(../images/nav_btn-2.png)

    .nav-menu
        transform: translateX(0)


/* Content */
.main-content
    margin-left 40%

    h3
        color: #535353
        font-size: 2.4rem
        font-weight: bold
        padding-left 12px
        line-height 1.4em

    > section
        margin: 64px 28px 0 12px

.profile-desc
    padding-top 120px
    padding-bottom 120px
    text-align: center
    font-weight: bold

    h1
        font-size: 3.2rem
        margin-bottom .8em

    h6
        font-size: 1.4rem

    .download-cv
        margin: 18px auto
        width 235px
        height 50px
        background-color: #D8D8D8
        border-radius: 5px
        border: 1px solid #535353
        display flex
        align-items: center
        justify-content: center

        span
            margin-left 1em
            color: #535353

    .icon-dl
        width 22px

.portfolio
    clearfix()

    .box
        float left
        padding 0 12px

        &.left
            width 50%

        &.right
            width 50%

    .work
        position relative
        margin-top 24px
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        background-color: #d8d8d8
        cursor pointer
        overflow hidden

        .color-bg
            position absolute
            left 0
            top 0
            width 100%
            height 100%
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            opacity 0
            transform: scale3d(1.05,1.05,1.05);
            transition: transform 4s cubic-bezier(.19,1,.22,1),opacity 1.1s cubic-bezier(.19,1,.22,1)

        .title-wrap
            position absolute
            left 0
            width 100%
            height 100px
            background-color: rgba(0,0,0,.5)
            color #fff
            display flex
            align-items: center
            justify-content: center
            font-size: 2.4rem
            font-weight: bold
            line-height 1.4em
            text-align: center
            transition: opacity .9s cubic-bezier(.19,1,.22,1)

        &.no-1
            padding-top 134.48%
            background-image: url(../images/p1-black.jpg)

            .color-bg
                background-image: url(../images/p1-color.jpg)

            .title-wrap
                top 20%

        &.no-2
            padding-top 114.93%
            background-image: url(../images/p3-black.jpg)

            .color-bg
                background-image: url(../images/p3-color.jpg)

            .title-wrap
                top 25%

        &.no-3
            padding-top 83%
            
            .title-wrap
                top 25%

        &.no-4
            padding-top 112.85%
            background-image: url(../images/p2-black.jpg)

            .color-bg
                background-image: url(../images/p2-color.jpg)

            .title-wrap
                bottom 18%

        &.no-5
            padding-top 102.17%
            background-image: url(../images/p4-black.jpg)

            .color-bg
                background-image: url(../images/p4-color.jpg)

            .title-wrap
                top 18%

        &.no-6
            padding-top 117.32%
            background-image: url(../images/p6-black.jpg)

            .color-bg
                background-image: url(../images/p6-color.jpg)

            .title-wrap
                top 13%

    .work:hover
        .title-wrap
            opacity 0

        .color-bg
            opacity 1
            transform: none

.about-me
    .italic
        font-style: italic

    p
        line-height 1.4em
        margin 1em 0
        font-size: 1.6rem

    em
        font-weight: bold

    h4
        font-size: 2rem
        font-weight: bold
        margin 36px 0

    .desc-wrap
        position relative
        margin 0 12px

        .bg
            display block
            width 100%

        .desc-box
            position absolute
            left 0
            top 0
            width 100%
            height 100%
            display flex
            justify-content: center
            flex-direction: column
            align-items: center
            font-size: 1.6rem
            color 

            > *
                width 60%

            .names
                line-height 1.4em

            .desc-list
                margin-top 40px

                > li
                    position relative
                    padding-left 18px
                    line-height 1.6em
                    margin-top 2%

                > li:before
                    content: ''
                    position absolute
                    left 0
                    top 6px
                    width 10px
                    height 10px
                    border-radius: 50%
                    background-color: #000
                    
    .story-box
        margin 32px 12px
        color #535353
        padding-top 20px

        .about-me-2
            display block
            width 65%

    .opinion-box
        margin 32px 12px
        color #535353
        padding-top 20px

    .skills-box
        margin 32px 12px
        color #535353
        padding-top 20px

        .skill
            margin-bottom 36px

        .title
            font-size: 1.6rem
            line-height 2em

        .bg-bar
            position relative
            width 100%
            height 36px
            background-color: #EAE7E7

        .percent
            height 36px
            width 0
            transition width 1s ease

        .percent.bar
            background-color: #535353

        .percent.txt
            position absolute
            left 0
            top 0
            color #eae7e7
            font-size: 1.8rem
            line-height 36px
            text-align: center

        .photoshop.active
            .percent
                width 80%

        .illustrator.active
            .percent
                width 95%

        .solid-works.active
            .percent
                width 80%

        .sketch-up.active
            .percent
                width 75%

        .keyshot.active
            .percent
                width 75%

        .sketch.active
            .percent
                width 90%

        .prototyping.active
            .percent
                width 95%

        .user-research.active
            .percent
                width 90%

.contact
    color #535353
    padding-bottom 120px
    
    .person-info
        margin 40px 12px
        padding-left 5px

        > li
            display flex
            align-items: center
            font-size: 2rem
            margin 15px 0

            .icon
                height 36px
                margin-right 15px

    .email-now
        margin 0 12px

        .txt
            font-size: 1.8rem

        .send-email-btn
            margin 26px 0
            font-size: 1.8rem
            color #fff
            width 180px
            height 36px
            background-color: #535353
            display flex
            justify-content: center
            align-items: center

            .icon
                height 22px
                margin-right 10px


/* Footer */
footer
    margin-top 60px

    .copy-right
        margin-top 50px
        height 80px
        line-height 80px
        font-size 12px
        text-align center
        color #999
        background-color #202020


/* Responsive */
@media screen and (max-width: 1100px)
    .page3 .page3-footer .data-source
        text-align left


/* Tool */
.transition
    transition opacity .5s, width .5s, height .5s, margin .5s

.transition-1
    transition opacity 1s

.hide
    opacity 0

.none
    display none
