<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../ejs/head', {
        title: 'Other Projects',
        css: 'styles/project.css'
    }); %>
</head>
<body class="work-6">
    <header class="T__header">
        <div class="flex-wrap">
            <div class="top-title">
                Other Projects
            </div>
        </div>
    </header>

    <section class="T__section background">
        <h1>「 Modeling Making 」</h1>
        <h2 class="subtitle">\Bumblebee</h2>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work6/qiche.jpg" alt="IMG">

            <div class="layout-1">
                <p><em>Made with greasy car model.</em>
                    <br>
                    In fact, the beginning to know that this course is a compulsory time, many students around some of the emotions complained. After all, there are far fewer students who choose to design their cars for the future. We have repeatedly questioned the significance of this course, laborious, nor necessarily pleasing.<br>
                    We understand that there are many production methods to choose from during the model making stage. Choosing the clay model as the first choice is determined by the particularity of the car styling design and the characteristics of the sludge itself. <br>
                    First, the relatively complex car shape, which consists of a combination of smooth surfaces, calls for a way to create flexible surfaces of all kinds. Compared with other methods, sludge can be easily scraped into any shape, which is very suitable for the performance of automotive surfaces. Second, the car shape design often has a repetitive process, the model to do repeated scrutiny, which requires the model itself has plasticity. The characteristics of sludge model exactly meet the requirements: Unlike ordinary mud, the sludge after heating, the hardness will be reduced rapidly, get very good flexibility, especially suitable for remodeling; temperature drop, the hardness and recovery quickly, suitable Details of the portrayal. This process can be repeated many times, without affecting the quality of the sludge itself. Thirdly, the car's exterior design is very demanding on the smoothness of the surface texture. The surface of ordinary mud can not achieve that smoothness, while the clay texture is delicate and smooth, meeting the near-harsh surface requirements. From the production time point of view, the sludge model is a relatively quick one.<br> 
                    Therefore, it naturally becomes the main model making method of the current automobile modeling design.
                </p>
            </div>
        </div>
    </section>

    <section class="T__section background">
        <h1>「 Chess Design for Blind People 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work6/xiangqi.jpg" alt="IMG">

            <div class="layout-1">
                <p><em>Chess for the blind</em>
                    <br>
                    We chose blind chess making. Taking into account the blind is a relatively special group, our design has also carried out some special treatment.<br>
                    When drawing the sketch first we take it easy. The beauty that simplicity sometimes brings is more direct than triviality. And we emphasize the theme of facilitating people with disabilities. Convenience is the most important. Without too much modification, the chessboard uses a simple regular geometric protrusion superimposed on the box. The geometric raised shape is also well recognized and does not require time to remember. Such a blind person touches the chess piece can touch its clear outline to determine what kind of pieces it is. Chess pieces at the bottom of the magnet match with the chessboard.<br>
                    In addition to the rules of the chessboard square arrangement, the placement of chess pieces of the location of the magnet, so long as the chess pieces on the board will be very easy to absorb the place you want to place. Chessboard foldable.<br>
                    Chess box for the convenience of storage. Our chess box is layered and well-utilized. There is a gap in the middle of the chess box that can fold the checkerboard into it. Chess pieces can be placed on both sides of pieces, not space.<br>
                    Finally, because the object of chess is blind people, so both sides of the pieces should be easy to distinguish. We designed a pawn side is rough, easy to identify.<br>
                    Based on this design, we have completed the modeling. And ready to use all acrylic finish.
                </p>
            </div>
        </div>
    </section>

    <section class="T__section background">
        <h1>「 Imperial Palace Wall Relics Park 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work6/yizi.jpg" alt="IMG">
        </div>
        <div class="T__wrap">
            <p>Public seating for the IImperial Palace Wall Relics Park in Beijing. Combines the Ming-style furniture elements in Chinese traditional culture.
            <br><br>
            Our work draws on the symbols of Ming-style furniture, with a modular and universal thinking. Chair surface by the combination of three monomers, can be freely combined. In the middle of the module can be stretched out a small platform, shaped like Ming-style footstool.
            </p>
        </div>
    </section>

    <section class="T__section background">
        <h1>「 Design Materials Research and Form Design 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work6/mucailiao.jpg" alt="IMG">
        </div>
        <div class="T__wrap">
            <p>Any material is full of spirituality, any material is quietly express themselves, are showing their own beauty. Beauty is the people through the visual, tactile, auditory contact<br>
            Material when produced by a pleasing state of mind, is the human understanding of the United States, appreciation and evaluation.<br>
            Material is the basic design of the carrier, design is the way the material is expressed. The correct choice of materials and rational use, that is, the degree of understanding of materials and the ability to control the size of materials,<br>
            To some extent, it is one of the important links formed by design.<br>
            Material beauty is an important aspect of the beauty of the product, different materials give different touch, association, psychological and aesthetic taste, such as the magnificent gold, silver<br>
            Noble, simple steel, zinc light and crisp, light and natural wood, glass, clear and bright. Material beauty and the composition of the material itself, nature, surface structure<br>
            As well as the use of state, each material has its own personality.<br><br>

            These can allow us to better understand the characteristics of each material and craftsmanship in design modeling, the material should take full account of their different personalities, the material clever<br>
            Combined to make their own beauty to reflect, and can deepen and complement each other to form a line with the aesthetic pursuit of people's various emotions.
            </p>
        </div>
    </section>

    <section class="T__section background">
        <h1>「 Display Design 」</h1>
        <h2 class="subtitle">\BooK Store</h2>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work6/shudian.jpg" alt="IMG">
        </div>
        <div class="T__wrap">
            <p>This is a library that allows readers to have a natural experience. The upper and lower levels, each layer has a space that allows people to look into the distance. Use sketch-up to model and paste the model with acrylic, pvc.</p>
        </div>
    </section>
</body>
</html>