<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../ejs/head', {
        title: 'Stop Bullying',
        css: 'styles/project.css'
    }); %>
</head>
<body class="work-3">
    <header class="T__header">
        <div class="flex-wrap">
            <div class="top-title">
                Stop Bullying
            </div>
        </div>
        
        <img class="top-desc" src="images/work3/desc.png" alt="Desc">
    </header>

    <section class="T__section background">
        <h1 class="blue">「 WHAT IS BULLYING 」</h1>
        <div class="T__wrap">
            <p>School bullying is a type of bullying that occurs in an educational setting.</p>
            <p>Bullying without comprehensive definition, can be physical, verbal or emotional in nature, or it can occur online (cyberbullying).</p>
        </div>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/define.jpg" alt="IMG">

        </div>
        <div class="T__wrap">
            <h3>U.S.A</h3>
            <div class="layout-1">
                <img src="images/work3/map-2.jpg" alt="IMG">
                <div>
                    <img src="images/work3/sign-1.png" alt="IMG">
                    <p>1 out of 4 kids are bullied every month in the U.S.</p>
                    <p>160,000 kids miss school each day for fear of bullying.</p>
                    <p>Every 7 minutes a child is bullied.</p>
                    <img src="images/work3/sign-2.png" alt="IMG">
                    <p>1 in 10 children drops out of school due to bullying.</p>
                </div>
            </div>
        </div>
        <div class="T__wrap">
            <h3>CHINA</h3>
            <div class="layout-1">
                <img src="images/work3/map-1.jpg" alt="IMG">
                <div>
                    <p>In 2006, the relevant departments conducted a sample survey of the city in a prefecture-level city in the western part of China. </p>
                    <img src="images/work3/circle-chart.png" alt="IMG">
                </div>
            </div>
        </div>
        <div class="T__wrap">
            <p>
                China Youth Research Center conducted surveys of 5,846 primary and secondary school students in 10 provinces and cities nationwide.<br><br>

                Students who were "often bullied by seniors" accounted for 6.1%.<br><br>

                "Occasionally bullied" accounted for 32.5%, and boys are more vulnerable to bullying than their girls.
            </p>
        </div>
        <div class="T__wrap">
            <div class="layout-2">
                <div>
                    <img src="images/work3/factor-1.jpg" alt="Image">
                    <p class="title">Family reasons</p>
                    <p>Poor parental education, problems within the family, excessive spoiledness of only children</p>
                </div>
                <div>
                    <img src="images/work3/factor-2.jpg" alt="Image">
                    <p class="title">School reasons</p>
                    <p>Negative social impact on the campus culture, school education focus on bias, the concept of a shallow school, can not tell the difference between right and wrong</p>
                </div>
                <div>
                    <img src="images/work3/factor-3.jpg" alt="Image">
                    <p class="title">Social reasons</p>
                    <p>The concept of moral legal system is weak, lack of psychological knowledge in adolescence, there is no systematic and healthy concept of sex</p>
                </div>
            </div>
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 PATTERN of MANIFESTATION 」</h1>

        <div class="T__wrap">
            <div class="layout-2">
                <div>
                    <img src="images/work3/form-1.jpg" alt="Image">
                    <h3 class="title">Language<br>violence</h3>
                </div>
                <div>
                    <img src="images/work3/form-2.jpg" alt="Image">
                    <h3 class="title">Physical<br>violence</h3>
                </div>
                <div>
                    <img src="images/work3/form-3.jpg" alt="Image">
                    <h3 class="title">Psychological<br>violence</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 IMPACT 」</h1>
        <div class="T__wrap">
            <div class="layout-3">
                <div>
                    <img src="images/work3/child-2.jpg" alt="Image">
                    <p><em>For perpetrators</em><br>
                        Take care of the treatment or even compensation costs, subject to the serious criticism of school teachers education, or even unable to complete their studies.<br>
                        Their behavior is hardly recognized by the community (mainly schools and families), and many of those students who often fight in primary and secondary schools, especially those who belong to the gangs of violence, have eventually embarked on criminal routes.
                    </p>
                </div>
                <div>
                    <img src="images/work3/child-1.jpg" alt="Image">
                    <p><em>For the victims</em><br>
                        Bring physical injury or even disability;<br>
                        Easily lead to weak personality, 
                        Low self-esteem, lack of confidence and courage;<br>
                        Cause the shadow and injury of the soul;<br>
                        Weariness and even drop out of school.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 CASES 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/example.jpg" alt="IMG">
        </div>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/three.jpg" alt="IMG">
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 MY STORY 」</h1>
        <div class="T__wrap">
            <div class="layout-4">
                <div class="inner-box">
                    <div>
                        <img src="images/work3/my-story.jpg" alt="Image">
                        <p>The formation of the entire bully requires bullying, followers, victims are indispensable. <br>
                        And it seems to me that every one of these characters seems to have experienced it.
                        </p>
                    </div>
                    <div>
                        <p>Let me talk about a story that I personally experienced. When I was a kid I was a very strong kid. Maybe because of family reasons, I was more irritable when I was young. This irritable manifestation in kindergarten is to bully the gentle children. There is a young boy from infancy, temperament and some inferiority. I always bully him. His ears on the memory often I severely pinch off the bloodstain left behind, scarred. But then I did not have too much consciousness about this behavior.</p>
                        <br><br>
                        <p>Retribution is that, due to my irritability, other children no longer love to play with me. Children around me begin to hate me slowly. Once again been maliciously planted.<br>
                        And then again because of the perpetual experience of the perpetrator to the victim, I gradually began to realize the seriousness of this behavior.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 MY FRIENDS 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/my-friend.jpg" alt="IMG">
        </div>
        <div class="T__wrap">
            <div class="layout-5">
                <p>In primary school, sometimes I just lost my temper because of emotional instability. However, I did not realize the dangers of doing so, nor did I realize that it was actually hurting others.<br>
                Sometimes it's fun to nick someone else.<br>
                Occasionally, I will act as a follower and play a coax together with everyone. Because we all do, I feel very happy.</p>
                <p>As a child, just because of weakness and stuttering, I often bullied by others. Occasionally, the homework is dilated, and sometimes the jacket is drawn by others on a signature pen. At first, I felt a bit angry. But because of fear, fear of being isolated, I could only bury the fearness in my heart.<br>
                I often cry alone in the quilt. Dreaming being bullied.</p>
                <p>When I was in primary school, I was very easily excited and loved to fight with others. At the beginning, I just fought with the students next to me. Later, I often got involved in some more serious fights. Then, I started to bully other students who were not so powerful as me, will be very sense of accomplishment.<br>
                Gradually, I grew up. The value of right and wrong also gradually formed. I no longer love to bully puny students. Bullying the weak can not prove that I am powerful, it can only explain incompetence.</p>
            </div>
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 Concept 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/concept.jpg" alt="IMG">
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 Material 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/material.jpg" alt="IMG">
        </div>
    </section>

    <section class="T__section background">
        <h1 class="blue">「 Make the Scene 」</h1>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/making.jpg" alt="IMG">
        </div>
        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work3/stage-photo.jpg" alt="IMG">
        </div>
    </section>
</body>
</html>