<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../ejs/head', {
        title: 'Food Cooking Management System',
        css: 'styles/project.css'
    }); %>
</head>
<body class="work-2">
    <header class="T__header">
        <div class="flex-wrap">
            <div class="top-title">
                Universal Product Design<br>
                for European Refugees
            </div>
        </div>
        
        <img class="top-desc" src="images/work2/desc.png" alt="Desc">
    </header>

    <section class="T__section">
        <h1>「 Busy Commuters 」</h1>
        <div class="T__wrap">
            <p>We all know that commuters are the extremely busy kind of people in our society.<br>
            Their lives are filled with tons of work as well as stress. </p>
        </div>

        <div class="T__wrap">
            <div class="layout-1">
                <img src="images/work2/busy.jpg" alt="IMG">
                <p>There are some datas about working hours of commuters around the world. For example, commuters in Beijing work 8.68hrs/day, 9.8hrs/day in New York, up to10.2 hrs/day in Hong Kong. Therefore, they all under extreme levels of working pressure in daily lives.</p>
            </div>
        </div>

        <div class="T__wrap">
            <img class="T__wrap-bg" src="images/work2/maps.jpg" alt="IMG">
        </div>
    </section>
</body>
</html>