<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../ejs/head', {
        title: 'Food Cooking Management System',
        css: 'styles/project.css'
    }); %>
</head>
<body>
    <div class="content">
        <h1 class="title"></h1>
        <h6 class="desc"></h6>
        <hr>
        <h1></h1>
        <h2></h2>
        <h3></h3>
        <p></p>
        <img src="images/test-img.jpg" alt="Test Image">
        <video src="images/test-video.mp4" controls preload>
            Your browser doesn't support video tag, please update your browser!
        </video>
    </div>
</body>
</html>