<!-- Head -->
<meta charset="UTF-8">
<title><%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Start Share Facebook -->
<meta property="fb:app_id" content="123456" />
<meta property="og:type" content="article" />
<meta property="og:rich_attachment" content="true" />
<meta property="og:url" content="www.cgtn.com" />
<meta property="og:title" content="CGTN" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:description" content="" />
<!-- End Share Facebook -->

<!-- Start Share Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@cgtnofficial">
<meta name="twitter:creator" content="@cgtnofficial">
<meta name="twitter:title" content="CGTN">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<!-- End Share Twitter -->

<!-- Icon 
<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="/favicon.png">
-->

<!-- CSS -->
<link rel="stylesheet" href="styles/app.css">

<!-- html5 hack -->
<!--[if lt IE 9]>
    <script src="./scripts/plugins/shimjs/html5shiv.min.js"></script>
    <script src="./scripts/plugins/shimjs/es5-sham.min.js"></script>
    <script src="./scripts/plugins/shimjs/es5-shim.min.js"></script>
<![endif]-->

<!-- Analytics -->
<!-- MTA -->
<script>

</script>

<!--GA-->
<script>

</script>